.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading div{
    background-color: rgba(39,39,39,0.274);
    height: 1px;
    width: 30rem;
}
.heading p{
    margin: 2rem;
    color: rgba(77,77,77);
    font: 100 2rem Calibri,"Trebuchet MS",sans-serif;
}